@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../Assests/Vazir/Vazir_En/Css/Vazir_En.css");
@import url("../Assests/Vazir/Vazir_Fa/Css/Vazir_Fa.css");

@layer components {
    .NavIcon {
        @apply w-6 h-6;
    }
    body {
        @apply !font-vazir dark:bg-slate-900;
    }
}

/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
} */

#__next {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Vazir_Fa";
    padding: 10px 0;
}
