@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../Assests/Vazir/Vazir_En/Css/Vazir_En.css");
@import url("../Assests/Vazir/Vazir_Fa/Css/Vazir_Fa.css");

@layer components {
    .NavIcon {
        @apply w-6 h-6;
    }
    body {
        @apply !font-vazir dark:bg-slate-900 flex justify-center items-center;
    }
    .input_focus {
        @apply outline outline-1 outline-primary;
    }
    .input_admin {
        @apply py-3 px-2 rounded-lg border border-neutral-200 font-medium;
    }
}

.Toastify__toast-body{
    @apply font-vazir
}

.Toastify__toast-body > div:last-child{
    @apply w-max ;
}
.Toastify__toast-body > div:last-child{
    direction: rtl ;
}

#__next {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Vazir_Fa";
    padding: 10px;
    width: 100% ;
}

#nprogress .bar {
    --tw-bg-opacity: 1 !important;
    background-color: hsl(
        var(--twc-primary) / var(--twc-primary-opacity, var(--tw-bg-opacity))
    ) !important;
    height: 6px !important;
}

